unpackaged/main/default/flows/Engagement_Event_Creation_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Delete</name>
        <label>Add to Delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>deleteEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>evt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Count</name>
        <label>Increment Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>eventCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateEvent</name>
        <label>UpdateEvent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>evt.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>attArrivalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>evt.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>evt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Able_to_Delete</name>
        <label>Able to Delete?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>attEvents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_All_Events</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Create_or_Update</name>
        <label>Delete, Create, or Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAttendenceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Able_to_Delete</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>attEvents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_20_Group_Event</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>List_Needs_to_be_Deleted</name>
        <label>List Needs to be Deleted?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deleteEvents</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Events</targetReference>
            </connector>
            <label>List Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Delete</name>
        <label>Need to Delete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UpdateEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eventCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Delete</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <description>Sales-2182</description>
    <environments>Default</environments>
    <formulas>
        <description>The number of days between the start and end dates</description>
        <name>eventDurationDays</name>
        <dataType>Number</dataType>
        <expression>if( AND(IsBlank({!attDepartureDate}) , ISBLANK({!attArrivalDate})), 
      {!varEnd}-{!varStart}, 
      {!attArrivalDate} - {!attDepartureDate}
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>end date for the Event we create</description>
        <name>varEndDate</name>
        <dataType>DateTime</dataType>
        <expression>IF({!eventDurationDays}&gt;14, {!varStart}+13, {!varEnd} )</expression>
    </formulas>
    <interviewLabel>Engagement Event Creation and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Engagement Event Creation and Update</label>
    <loops>
        <name>Update</name>
        <label>Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>evt</assignNextValueToReference>
        <collectionReference>attEvents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Need_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_20_Group_Event</name>
        <label>Create 20 Group Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varEventRID</assignRecordIdToReference>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>varEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrivate</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varUserRID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124A000001BVDV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>varStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varEngagementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varEngagementAttendeeRID</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_All_Events</name>
        <label>Delete All Events</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>attEvents</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Events</name>
        <label>Delete Events</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>deleteEvents</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Attendee_Record</name>
        <label>Attendee Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEvents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEngagementAttendeeRID</elementReference>
            </value>
        </filters>
        <object>Engagement_Attendee__c</object>
        <outputAssignments>
            <assignToReference>varStart</assignToReference>
            <field>Arrival__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAttendenceStatus</assignToReference>
            <field>Attendance_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEnd</assignToReference>
            <field>Departure__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRecordType</assignToReference>
            <field>Engagement_Record_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEngagementRID</assignToReference>
            <field>Engagement__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUserRID</assignToReference>
            <field>User_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getEvents</name>
        <label>getEvents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Create_or_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124A000001BVDVQA4</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEngagementAttendeeRID</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>attEvents</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Events</name>
        <label>Update Events</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>List_Needs_to_be_Deleted</targetReference>
        </connector>
        <inputReference>eventsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Attendee_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>When passed in, this is the updated Arrival Date for the engagement attendee.</description>
        <name>attArrivalDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>When passed in, this is the new Departure Date for the attendee.</description>
        <name>attDepartureDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>attEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>deleteEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>eventCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>eventsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>evt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>varAttendenceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEngagementAttendeeRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEngagementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEngagementRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEventRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record type of engagement</description>
        <name>varRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserRID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
